@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "iransans";
	src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/woff2/IRANSansWeb.woff2");
}

.flex-center {
	@apply flex items-center justify-center;
}

@layer components {
	.flex-cc {
		@apply flex items-center justify-center;
	}
}

.text-rtl {
	direction: rtl;
}

.bi-primary-pill {
	@apply cursor-pointer rounded-full bg-yellow-300 p-2 px-3 font-bold text-yellow-900 shadow-xl hover:bg-yellow-200;
}

.bi-intro {
	@apply flex-center mb-5 flex-col text-center font-iransans;
}
.bi-title {
	@apply text-2xl font-bold;
}
.bi-description {
	@apply text-gray-500;
}

.bi-overlay {
	@apply after:absolute after:left-0 after:bottom-0 after:h-full after:w-full after:bg-gradient-to-t after:from-black after:via-transparent after:to-transparent;
}

/*
.bi-wrapper {
    @apply xl:max-w-[1040] #{!important};
}
*/

html,
body {
	@apply font-iransans;
}
