@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransans';
    src: url('https://cdn.jsdelivr.net/npm/iransans@1.0.0/woff2/IRANSansWeb.woff2');
}

.flex-center {
    @apply flex justify-center items-center;
}

@layer components {
    .flex-cc {
        @apply flex justify-center items-center;
    }
}

.text-rtl {
    direction: rtl;
}

.bi-primary-pill {
    @apply p-2 px-3 font-bold bg-yellow-300 hover:bg-yellow-200 text-yellow-900 rounded-full shadow-xl cursor-pointer;
}

.bi-intro {
    @apply flex-center text-center flex-col mb-5 font-iransans;
}
.bi-title {
    @apply text-2xl font-bold;
}
.bi-description {
    @apply text-gray-500;
}

/*
.bi-wrapper {
    @apply xl:max-w-[1040] #{!important};
}
*/

html,
body {
    @apply font-iransans;
}
