.x-transition {
	&-enter {
		@apply transition duration-1000 ease-out;
	}

	&-enter-start,
	&-leave-end {
		.child-item {
			@apply scale-90 opacity-0 transition duration-300;
			/**
			transition-delay: calc(var(--count) * 75ms);
			*/
		}
	}
	&-enter-end,
	&-leave-start {
		.child-item {
			@apply scale-100 opacity-100 transition duration-500;
			transition-delay: calc(var(--count) * 75ms);
		}
	}
	&-leave {
		@apply transition duration-1000 ease-in;
	}
}

@keyframes call-icon-puls {
	0% {
		transform: translate3d(0, -50%, 0) rotate(-45deg) scaleX(1);
	}
	50% {
		transform: translate3d(0, -50%, 0) rotate(-45deg)
			scale3d(1.05, 1.05, 1.05);
	}

	100% {
		transform: translate3d(0, -50%, 0) rotate(-45deg) scaleX(1);
	}
}

.bi-call-icon {
	animation: call-icon-puls 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes callus-puls {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scaleX(1);
	}
}

.bi-callus-puls {
	animation: callus-puls 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes bi-scrolltotop-keyframe {
	0% {
		transform: translate3d(0, -10px, 0) scale3d(1.45, 1.45, 1.45);
	}
	50% {
		transform: translate3d(0, 0px, 0) scale3d(1.5, 1.5, 1.5);
	}

	100% {
		transform: translate3d(0, -10px, 0) scale3d(1.45, 1.45, 1.45);
	}
}

.bi-scrolltotop-animation {
	animation: bi-scrolltotop-keyframe 2s cubic-bezier(0.4, 0, 0.6, 1)
		infinite;
	animation-delay: 400ms;
}

.bi-air-slider {
	&-right {
		@apply absolute z-10 hidden md:-right-24 md:block lg:-right-16 xl:right-16;
	}

	&-left {
		@apply absolute z-10 hidden md:-left-24 md:block lg:-left-16  xl:left-16;
		transform: scale(-1, 1);
	}
}

@keyframes bi-filiplogo-keyframe {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(141deg);
	}
}

.bi-filiplogo-animation {
	&:hover {
		animation: bi-filiplogo-keyframe 2s cubic-bezier(0.4, 0, 0.6, 1)
			infinite;
		animation-delay: 400ms;
		animation-direction: alternate;
	}
}

.breadcrumb__peer:hover ~ .breadcrumb__item {
	.breadcrumb__chevron {
		transform: rotate(180deg);
	}
}
