.bi-scrollbar {
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px E6E6E6;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: #b3b3b3;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #727272;
	}
}

.text-rtl {
	direction: rtl;
}

.bi-overlay {
	@apply relative overflow-hidden before:absolute before:left-0 before:bottom-0 before:h-full before:w-full before:bg-black before:bg-opacity-30;

	&-gradient-white {
		@apply relative overflow-hidden before:absolute before:left-0 before:bottom-0 before:h-full before:w-full before:bg-gradient-to-t before:from-white before:to-transparent;
	}
}

.bi-icon {
	@apply flex-center aspect-square w-12 overflow-hidden rounded-circle bg-center  shadow-lg;

	img {
		@apply object-contain;
	}
}

.bi-hide-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.bi-shadow {
	box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
}

.bi-shadow-sm {
	box-shadow: 0px 5px 20px 0px #0000000d;
}

.bi-svgfull {
	svg {
		width: 100%;
		height: 100%;
	}
}
