.bi-scrollbar {
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px E6E6E6;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: #b3b3b3;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #727272;
	}
}

.text-rtl {
	direction: rtl;
}

.bi-overlay {
	@apply relative overflow-hidden before:absolute before:left-0 before:bottom-0 before:h-full before:w-full before:bg-black before:bg-opacity-30;
}

.bi-icon {
	@apply flex-center aspect-square w-12 overflow-hidden rounded-circle bg-center  shadow-lg;

	img {
		@apply object-contain;
	}
}

.bi-hide-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
