@font-face {
	font-family: "iransans";
	src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/woff2/IRANSansWeb.woff2");
}

@font-face {
	font-family: "BYekan";
	src: url("../font/BYekan.eot");
	src: url("../font/BYekan.eot?#iefix") format("embedded-opentype"),
		url("../font/BYekan.woff") format("woff"),
		url("../font/BYekan.ttf") format("truetype"),
		url("../font/BYekan.svg#BYekan") format("svg");
	font-weight: normal;
	font-style: normal;
}

html,
body {
	@apply scroll-smooth font-iransans;
	-webkit-tap-highlight-color: transparent;
}

input {
	@apply flex-center relative border-gray-300 bg-white checked:border-yellow-300 checked:bg-yellow-300 focus:outline-none;
	&::after {
		content: "";
		@apply absolute rounded-circle bg-white p-1;
	}
}

table {
	border-collapse: separate !important;
	border-spacing: 0 8px;
}

table tbody tr {
	&:nth-child(even) {
		background: #e6e6e6;
	}

	td {
		border-top: 2px #cccccc solid;
		border-bottom: 2px #cccccc solid;
	}
	td:last-child {
		border-left: 2px #cccccc solid;
		border-top-left-radius: 17px;
		border-bottom-left-radius: 17px;
	}

	td:first-child {
		border-right: 2px #cccccc solid;
		border-top-right-radius: 17px;
		border-bottom-right-radius: 17px;
	}
}

#mobile-menu {
	@apply fixed top-0 right-0 z-30 h-full w-full  bg-gradient-to-b from-black to-transparent;

	.mobile-menu__overlay {
		@apply container mx-auto lg:max-w-[1104px];
	}

	.mobile-menu__wrapper {
		@apply text-rtl mt-5 rounded-3xl bg-white p-6 shadow-2xl;
	}

	ul {
		@apply mx-auto grid grid-cols-1  gap-2 overflow-auto px-3 sm:grid-cols-2;
		max-height: calc(100vh - 185px);
	}

	li a {
		@apply relative flex cursor-pointer items-center justify-between rounded-xl bg-white p-5 drop-shadow-lg transition duration-100 ease-out hover:bg-gray-100;
		span {
			@apply inline overflow-hidden text-ellipsis whitespace-nowrap;
		}
	}
}

#navigation {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	@apply rounded-2xl;
	#menu-top_menu {
		@apply relative
				z-20
				mx-auto
				flex flex-grow
				flex-row-reverse
				items-center
				justify-between
				rounded-2xl
				px-5;
	}

	.sub-menu {
		@apply invisible
				absolute
				top-full
				right-0
				max-w-xs
				overflow-ellipsis
				opacity-0
				 shadow transition-opacity
				delay-150 duration-500 ease-out;
	}

	.menu-item {
		@apply w-full cursor-pointer whitespace-nowrap rounded-md px-3 py-2 text-right text-[#666666] lg:px-4;

		&:hover {
			@apply bg-yellow-50 py-2;
		}

		a {
			@apply w-full;
		}
	}

	.menu-item-has-children {
		position: relative;
		display: flex;
		flex-direction: row;
		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			position: relative;
			top: 4px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23ccc'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");
		}
		.menu-item-has-children {
			flex-direction: row;
			justify-content: space-between;
			&::before {
				content: "";
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				transform: rotate(180deg);
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23ccc'%3E%3Cpath fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
			}
		}

		&:hover > .sub-menu {
			@apply visible w-72   
			overflow-ellipsis bg-white opacity-100
			transition-all;

			.sub-menu {
				@apply top-0
				-translate-x-full
				transform
				overflow-hidden overflow-ellipsis;
			}
		}
	}
}
