@tailwind base;
@tailwind components;
@tailwind utilities;

.bi-primary-pill {
	@apply cursor-pointer rounded-full bg-yellow-300 p-2 px-3 font-bold text-yellow-900 shadow-xl hover:bg-yellow-200;
}

.bi-date-overlay:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ede059 !important;
	z-index: -10;
}

.bi-date-pick_start,
.bi-date-pick_end {
	@apply rounded-full bg-primery text-gray-900;
}

.bi-date-pick_start:before {
	content: "";
	background: #ede1596e !important;
	@apply absolute right-0 top-0 -z-10 h-full w-1/2;
}

.bi-from,
.bi-to {
	@apply relative;
}
.bi-from:after,
.bi-to:after {
	content: "";
	@apply absolute top-0 left-0 h-2 w-2 rounded-circle bg-gray-500;
}
.bi-from:before {
	content: "";
	@apply absolute top-0 left-0 h-full w-1 border-r-2 border-gray-500;
	border-style: dashed;
}

.bi-date-pick_end:before {
	content: "";
	background: #ede1596e !important;
	@apply absolute left-0 top-0 -z-10 h-full w-1/2;
}

.bi-date-pick_middle:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ede1596e !important;
	z-index: -10;
}

@font-face {
	font-family: "iransans";
	src: url("https://cdn.jsdelivr.net/npm/iransans@1.0.0/woff2/IRANSansWeb.woff2");
}

.flex-center {
	@apply flex items-center justify-center;
}

@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}
}

.text-rtl {
	direction: rtl;
}

.bi-headline_intro {
	@apply flex-center mb-5 flex-col text-center font-iransans;
}
.bi-headline_title {
	@apply text-2xl font-bold;
}
.bi-headline_description {
	@apply text-gray-500;
}

.bi-overlay {
	@apply after:absolute after:left-0 after:bottom-0 after:h-full after:w-full after:bg-gradient-to-t after:from-black after:via-transparent after:to-transparent;
}

/*
.bi-wrapper {
    @apply xl:max-w-[1040] #{!important};
}
*/

html,
body {
	@apply font-iransans;
}

.bi-scrollbar::-webkit-scrollbar {
	width: 4px;
}

/* Track */
.bi-scrollbar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px E6E6E6;
	border-radius: 10px;
}

/* Handle */
.bi-scrollbar::-webkit-scrollbar-thumb {
	background: #b3b3b3;
}

/* Handle on hover */
.bi-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #727272;
}

.bi-secondary-icon {
	@apply inline-flex aspect-square  items-center rounded-circle bg-secondary-ligth p-2;
}

.bi-form-check-input {
	@apply flex-center relative;
}
.bi-form-check-input::after {
	content: "";
	@apply absolute rounded-circle bg-white p-1;
}
