@import "_global.scss";
@import "_general.scss";
@import "_components.scss";
@import "components/travel-selector-card/date-picker.scss";

@import "pages/country-1.scss";

@import "components/slider.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bi-primary-pill {
	@apply cursor-pointer rounded-full bg-yellow-300 p-2 px-3 font-bold text-yellow-900 shadow-xl hover:bg-yellow-200 inline-block;
}
.bi-primary-btn {
	@apply cursor-pointer rounded-lg bg-yellow-300 p-2 px-3 font-bold text-yellow-900 shadow-md hover:bg-yellow-200;
}

.bi-primary-tag {
	@apply flex-center rounded-3xl bg-primery px-2 py-1 text-sm;
}
.bi-secondary-tag {
}

.bi-date-overlay:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ede059 !important;
	z-index: -10;
}

.bi-from,
.bi-to {
	@apply relative;
}
.bi-from:after,
.bi-to:after {
	content: "";
	@apply absolute top-0 left-0 h-3 w-3 rounded-circle bg-gray-500 lg:h-2 lg:w-2;
}
.bi-from:before {
	content: "";
	@apply absolute top-0 left-0 h-full w-2 border-r-2 border-gray-500 lg:w-1;
	border-style: dashed;
}

@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}
}

.bi-secondary-icon {
	@apply inline-flex aspect-square cursor-pointer select-none  items-center rounded-circle bg-secondary-ligth p-2;
}

.bi-blog-cell {
	.bi-blog-cell--overlay {
		@apply flex-center absolute top-0 left-0 h-full w-full bg-black bg-opacity-50 opacity-0 transition-all duration-300 ease-in;
		a {
			@apply inline-block rounded-lg border border-primery p-3 text-sm text-primery hover:border-yellow-400 hover:text-yellow-400;
		}
	}
	img {
		@apply scale-100 transform opacity-100 transition-all duration-300 ease-in-out;
	}
	&:hover .bi-blog-cell--overlay {
		@apply opacity-100;
	}
	&:hover img {
		@apply scale-125 transform;
	}
}

.title-shadow {
	text-shadow: 0px 1px 10px white;
}
