@import "_global.scss";
@import "_general.scss";
@import "_components.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bi-primary-pill {
	@apply cursor-pointer rounded-full bg-yellow-300 p-2 px-3 font-bold text-yellow-900 shadow-xl hover:bg-yellow-200;
}

.bi-date-overlay:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ede059 !important;
	z-index: -10;
}

.bi-date-pick {
	&_start,
	&_end {
		@apply rounded-full bg-primery text-gray-900;
	}

	&_start:before {
		content: "";
		background: #ede1596e !important;
		@apply absolute right-0 top-0 -z-10 h-full w-1/2;
	}
}

.bi-from,
.bi-to {
	@apply relative;
}
.bi-from:after,
.bi-to:after {
	content: "";
	@apply absolute top-0 left-0 h-3 w-3 rounded-circle bg-gray-500 lg:h-2 lg:w-2;
}
.bi-from:before {
	content: "";
	@apply absolute top-0 left-0 h-full w-2 border-r-2 border-gray-500 lg:w-1;
	border-style: dashed;
}

.bi-date-pick_end:before {
	content: "";
	background: #ede1596e !important;
	@apply absolute left-0 top-0  h-full w-1/2;
}

.bi-date-pick_middle:before {
	content: "";
	@apply absolute top-0 left-0  h-full w-full;
	background: #ede1596e !important;
}

@layer components {
	.flex-center {
		@apply flex items-center justify-center;
	}
}

.bi-secondary-icon {
	@apply inline-flex aspect-square cursor-pointer  items-center rounded-circle bg-secondary-ligth p-2;
}
